<h1><%= @book["title"] %></h1>
<% @book["author_name"].each do |author| %>
  <h2><%= author %></h2>
<% end %>
<% @book["subject"].each do |subject| %>
  <h5><%= subject %></h5>
<% end %>s
<section class="reviews">
  <% @reviews.each do |review| %>
    <section class="review"
      <p>Review: <%= review["summary"] %></p>
      <h5>Review Publication Date: <%= review["publication_dt"] %></h5>
    </section>
  <% end %>
</section>
